.detail-page .Header_header__OKWO7 {
  position: unset !important;
  width: 100%;
}

.detail-main {
  margin: 0 var(--gap-80);
  &-title {
    padding: 24px 0 0;
  }
  &-decs {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    line-height: 30px;
  }
  &-images {
    max-height: 3var (--gap-80);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
}
.detail-skeleton {
  margin-top: 20px;
  display: flex;
  width: 100%;
  gap: 0 12px;
}
@keyframes animation {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 270px;
  }
}
.left {
  width: 50%;
  height: 3var (--gap-80);
  background: linear-gradient(
    90deg,
    #e8e8e8 0px,
    #f8f8f8 40px,
    #e8e8e8 var(--gap-80)
  );
  border-radius: 3px;
  animation: animation 2.5s infinite;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.span-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 10px;
}
.span-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skeleton-item {
  width: 100%;
  height: 184px;
  background: linear-gradient(
    90deg,
    #e8e8e8 0px,
    #f8f8f8 40px,
    #e8e8e8 var(--gap-80)
  );
  border-radius: 3px;
  animation: animation 2.5s infinite;
}
.span-right > .skeleton-item {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer {
  margin-top: 48px;
  display: flex;
  height: 120px;
}
.info-left {
  width: 59%;
  display: flex;
  justify-content: space-between;
  span:nth-child(2) {
    span {
      border-radius: 50%;
    }
  }
}
.info-right {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1441px) {
  .detail-page .Header_header-container__4tcDx {
    padding: 0 160px !important;
  }
  .detail-main {
    margin: 0 160px !important;
  }
  .detail-header-container {
    padding: 0 160px !important;
  }
  .detail-footer-content {
    margin: 0 160px !important;
    width: calc(100% - 240px) !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1440px) {
  .detail-page .Header_header-container__4tcDx {
    padding: 0 var(--gap-80) !important;
  }
  .detail-main {
    margin: 0 var(--gap-80) !important;
  }
  .detail-header-container {
    padding: 0 var(--gap-80) !important;
  }
  .detail-footer-content {
    margin: 0 var(--gap-80) !important;
    width: calc(100% - 160px) !important;
  }
}

@media screen and (min-width: 748px) and (max-width: 1200px) {
  .detail-page .Header_header__OKWO7 {
    margin: 0;
  }
  .detail-main {
    margin: 0;
  }
  .detail-header-container {
    margin: 0;
  }
  .detail-footer-content {
    margin: 0;
  }
  .detail-footer-content-section {
    width: calc(50% - 24px) !important;
  }
}
