@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;600;700&family=Montserrat:ital,wght@0,300;0,400;0,600;1,700&family=Oswald:wght@400;500;600&family=Poppins:wght@300;400;600&family=Sora:wght@400;600&display=swap');

:root {
  --primary-color: #ff385c;
  --background-size: 100vw;
  --container-size: 1425px;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}
.wrapper {
  max-width: var(--background-size);
  margin: 0 auto;
}
.container {
  max-width: var(--background-size);
  padding: 0 80px;
  margin: 0 auto;
}
.ant-picker-panel-container {
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  height: 460px;
  width: 846px;
  position: absolute;
  left: 26px;
  transform: translateX(-50%) translateY(20%);
  top: 22px;
}
.ant-picker-panel-container .ant-picker-panels {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ant-picker-panel .ant-picker-panel-focused {
  width: 100%;
  height: 100%;
}
.ant-picker-panel {
  border: none;
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-picker-date-panel {
  width: 100%;
  height: 100%;
  padding: 0 8px;
}
.ant-picker-header {
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.ant-picker-body .ant-picker-content {
  width: 100%;
}
.ant-picker-body .ant-picker-content > thead > tr > th {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.ant-picker-body .ant-picker-content > tbody > tr > .ant-picker-cell {
  padding: 4px 4px;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border: 1px solid black;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  content: '';
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: black;
  width: 36px;
  height: 36px;
  border-radius: 50% !important;
  text-align: center;
}
.ant-picker-cell .ant-picker-cell-inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  transition: background 0.3s, border 0.3s;
}
.ant-picker-cell:before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 1;
  height: 36px;
  transform: translateY(-50%);
  transition: all 0.3s;
  content: '';
}
.ant-picker-cell-inner {
  &:hover {
    color: white;
    background-color: black !important;
  }
}
.ant-picker-super-prev-icon,
.ant-picker-super-next-icon {
  display: none;
}
.ant-picker-header-view {
  font-weight: 600;
}
.ant-picker-header-view button {
  &:hover {
    cursor: arrow;
    color: black;
  }
}
.ant-picker-range-arrow {
  display: none !important;
}

.slick-arrow {
  display: none !important;
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 100rem;
  border: 1px solid #ccc;
  transition: all 0.05s ease-in-out;
  animation: fadeOut 0.2s linear;
  z-index: 11;
  ion-icon {
    font-size: 14px;
    color: black;
  }
}
.slick-prev {
  left: 10px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.slick-next {
  right: 8px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: white !important;
  color: black !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
  width: 32.5px !important;
  height: 32.5px !important;
}
.slick-list {
  overflow: hidden !important;
  border-radius: 12px !important;
}
.rec.rec-pagination {
  display: none;
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.rec.rec-arrow {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 100rem;
  min-width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  animation: fadeOut 0.3s linear;
}

.rec.eWjCzc:hover:enabled,
.rec.eWjCzc:focus:enabled {
  background: white;
  color: rgba(0, 0, 0, 0.6);
}
.rec.rec-item-wrapper {
  width: 100% !important;
  padding: 0 14px !important;
}

.ant-list-item {
  $colorHover: #888;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 8px 0;
  color: $colorHover;
  & img {
    filter: opacity(0.4) drop-shadow(0 0 0 $colorHover);
  }
}
.ant-list-item span {
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
}
.ant-list-item img {
  width: 24px;
  height: 24px;
  object-fit: center;
}

.ant-list-item:not([class='active']):hover {
  cursor: pointer;
  color: black;
  & img {
    filter: opacity(1) drop-shadow(0 0 0 black);
  }
}
.rec.eAyARa {
  transition: all 0.2s linear;
}
.eAyARa:disabled {
  display: none;
}
.rec.eLPooy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 96%;

  position: relative;
  height: 80px !important;
}

.rec.hHJTFD {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-left: 0 !important;
}
.rec.rec-arrow {
  position: absolute;
  content: '';
  top: 50%;
  z-index: 12;
  transform: translateY(-68%);
}
.rec.rec-arrow-left {
  left: -26px;

  &:after {
    position: absolute;
    content: '';
    bottom: -12px;
    right: 0;
    width: 1px;
    height: 8px;
    background-color: white;
    box-shadow: 10px -8px 12px 8px white;
    z-index: 6;
  }
}

.rec.rec-arrow-right {
  right: -26px;
  &:before {
    position: absolute;
    content: '';
    top: 14px;
    right: 32px;
    width: 1px;
    height: 30px;
    background-color: white;
    box-shadow: -14px -14px 28px 16px white;
    z-index: 6;
  }
}

.slick-slider.slick-initialized {
  width: 100 !important;
  height: 100% !important;
}
.slick-list {
  height: 100% !important;
}
.slick-track {
  height: 100% !important;
}
.slick-slide > div {
  height: 100% !important;
}
.slick-dots {
  bottom: 18px !important;
}
.slick-dots li {
  margin: 0 1px !important;
}
.slick-dots li button::before {
  font-size: 0.6rem !important;
  transition: all 0.2s linear !important;
}
.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1 !important;
  font-size: 1rem !important;
}
