#calendar-mobile {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  .ant-picker {
    width: 100%;
    padding: 14px !important;
    border: none !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    cursor: pointer;
  }
  .ant-picker-input input {
    text-align: center;
  }
  .ant-picker-focused {
    border: 2px solid var(--black) !important;
    box-shadow: none !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
  .ant-picker-focused .ant-picker-range-separator > .separate {
    background-color: var(--black) !important;
    width: 2px;
  }
  .ant-picker-range .ant-picker-active-bar {
    left: 16px !important;
    bottom: 4px !important;
    background-color: var(--black) !important;
    width: 100px !important;
  }
  & > div:first-child {
    z-index: 10000;
    .ant-picker-clear {
      font-size: 1.8rem;
      top: 50%;
      right: 16px !important;
      z-index: 39;
    }
  }
}
#calendar-mobile > div:last-child {
  & > div:first-child {
    & > div:first-child {
      .ant-picker-panel-container {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        box-shadow: rgb(0 0 0 / 20%) 0px 22px 20px;
        position: sticky;
        right: -30px;
        transform: translateX(4%) translateY(-19%);
        top: 120px;
      }
    }
  }
}
.ant-picker-input input {
  padding-left: 16px;
}
.ant-picker-input input::placeholder {
  color: var(--black) !important;
}
.separate {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

@media only screen and (max-width: 748px) {
  #calendar-mobile > div:last-child {
    & > div:first-child {
      .ant-picker-dropdown-placement-bottomLeft {
        left: 0% !important;
      }
      & > div:first-child {
        .ant-picker-panel-container {
          position: absolute;
          left: 0 !important;
          transform: translateX(0) translateY(-42%) !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 578px) {
  #calendar-mobile > div:last-child {
    & > div:first-child {
      .ant-picker-dropdown-placement-bottomLeft {
        left: 0% !important;
      }
      & > div:first-child {
        .ant-picker-panel-container {
          position: absolute;
          left: 0 !important;
          max-height: 400px !important;
          transform: translateX(0) translateY(-32%) !important;
          & > div:first-child {
            .ant-picker-panel {
              width: 100% !important;
            }
            .ant-picker-panel:last-child {
              display: none !important;
            }
          }
        }
      }
    }
  }
  .makeStyles-root-8 > div.MuiPaper-root:nth-child(2) {
    & > div.MuiCollapse-entered:last-child {
      #calendar-mobile {
        .ant-picker-header-next-btn {
          visibility: visible !important;
        }
      }
    }
  }
}
