.detail-footer {
  background-color: #f7f7f7;
  min-height: 400px;
  border-top: 1px solid #ccc;
  &-content {
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    margin-left: -12px !important;
    margin-right: -12px !important;

    &-section {
      width: 25%;
      margin: 0 auto;
    }
    &-title {
      margin-bottom: 12px;

      h3 {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
    &-list {
      width: 100%;
    }
    &-item {
      list-style: none;
      padding: 6px 0;
      line-height: 20px;
      a {
        text-decoration: none;
        color: rgb(34, 34, 34);
        font-size: 14px;
        line-height: 18px;
        outline: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
@media screen and (min-width: 1441px) {
  .detail-footer-content {
    margin: 0 160px !important;
    width: calc(100% - 240px) !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1440px) {
  .detail-footer-content {
    margin: 0 var(--gap-80) !important;
    width: calc(100% - 160px) !important;
  }
}

@media only screen and (max-width: 1200px) {
  .detail-footer-content {
    margin: 0;
  }
  .detail-footer-content-section {
    width: calc(50% - 24px) !important;
  }
}
@media only screen and (max-width: 528px) {
  .detail-footer-content {
    margin: 0;
  }
  .detail-footer-content-section {
    width: calc(100% - 24px) !important;
  }
}
