.logo-icon {
  width: 32px;
  height: 32px;
}
.logo-title {
  letter-spacing: 0.01rem;
  font-size: 2.2rem;
  color: var(--primary-color);
  font-weight: 600;
}
.logo-header {
  display: block;
  max-width: 200px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.header-options {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-host {
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 20px;
    background-color: transparent;
    padding: 12px 14px;
    transition: all 0.2s linear;
    white-space: nowrap;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      opacity: 0.8;
    }
  }
  &-switch {
    position: relative;
    transform: translate(4%, 8%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s linear;
    &:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
    ion-icon {
      font-size: 2rem;
      top: 25%;
      left: 25%;
      position: absolute;
    }
  }
  &-login {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 4px 6px;
    margin-left: 9px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
    ion-icon {
      font-size: 20px;
    }
  }
  .header-login-cirle {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 100rem;
    background-color: var(--primary-color);
    top: 0;
    right: 0;
  }
  .header-user-avatar {
    width: 32px;
    height: 32px;
    object-fit: center;
    border-radius: 50%;
  }
}
@keyframes showHideHeader {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header {
  width: 100%;
  position: fixed;
  z-index: 40;
  top: 0;
  background-color: white;
  &-container {
    width: 100%;
    padding-bottom: 4px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    transition: all 0.15s ease-in-out;
  }
  &-default {
    align-items: center;
    &:after {
      position: absolute;
      content: '';
      right: 0;
      left: 0;
      height: 1px;
      top: 80px;
      bottom: 0;
      left: calc(-50vw + 50%);
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &-detail {
    align-items: flex-start;
    transform: translateY(20%);
  }
}

.overlay {
  &::after {
    content: '';
    width: 100%;
    height: 100vh;
    position: fixed;
    left: calc(-50vw + 50%);
    background-color: rgba(0, 0, 0, 0.25);
    top: 160px;
  }
  transition: all 2s linear;
}

@media screen and (max-width: 747px) {
  .logo-header {
    margin-right: 20px;
  }
}
