.header-search-list {
  position: relative;
  text-align: left;
  line-height: 12px;
  height: 64px;
  min-width: 178px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 40px;
    cursor: pointer;
    & + .header-search-list::before {
      display: none;
    }
  }
  &:nth-child(2) {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 20px;
      width: 1px;
      height: 40%;
      background-color: #ccc;
    }
  }
  &:nth-child(3) {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 20px;
      width: 1px;
      height: 40%;
      background-color: #ccc;
    }
  }
  &:nth-child(4) {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 20px;
      width: 1px;
      height: 40%;
      background-color: #ccc;
    }
  }
  &:hover {
    &:before {
      display: none;
    }
  }
}
.header-search-title {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  position: relative;
}
.header-search-subTitle {
  font-size: 1.3rem;
  color: #888;
}
.header-search-list.active-search {
  background-color: rgba(0, 210, 211, 0.2);
  border-radius: 40px;
  transition: all 0.2s linear;
  &:hover {
    background-color: rgba(0, 210, 211, 0.2);
  }
  &:before {
    display: none;
  }
  & + .header-search-list::before {
    display: none;
  }
}
.header-search {
  width: 848px;
  height: 64px;
  padding: 10px 0;
  border-radius: 40px;
  border: 1px solid #ccc;
  box-shadow: 2px #ccc;
  background-color: #fff;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &-button {
    position: absolute;
    right: 8px;
    width: 48px;
    height: 48px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-icon {
    transform: translateY(8%) translateX(8%);
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 22px;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
.header-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
}
.header-tab {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  &:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 2px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.25s linear;
  }

  &:hover {
    color: #888;
    cursor: pointer;
    &:after {
      width: 96%;
      background-color: #888;
    }
  }
}
.header-tab.active {
  color: black;
  &:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 2px;
    width: 94%;
    height: 2px;
    background-color: black;
  }
}
.header-detaill {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 8px;
  left: 0;
}
.header-search-clear {
  position: absolute;
  top: 34%;
  left: 76%;
  svg {
    width: 22px;
    height: 22px;
    color: white;
  }
  border-radius: 100rem;
  background-color: #ccc;
  cursor: pointer;
}
