.navbar-wrapper {
  width: 100%;
  position: sticky;
  top: var(--gap-80);
  background-color: var(--white);
  transition: all 0.2s linear;
  height: 86px;
  z-index: 29;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 22;
  min-height: 80px;
}
.navbar-item {
  &-img img {
    width: 24px;
    height: 24px;
    object-fit: center;
    display: inline-block;
  }
}
.navbar-item-icon {
  ion-icon {
    width: 24px;
    height: 24px;
  }
  ion-icon:hover {
    color: #888;
  }
}
.active {
  transition: all 0.2s linear;
  color: black !important;
  & img {
    filter: opacity(1) drop-shadow(0 0 0 black) !important;
  }
  &:after {
    content: '';
    bottom: -8px;
    left: 2px;
    width: 94%;
    height: 2px;
    background-color: black;
    z-index: 10;
    transition: all 0.2s linear;
  }
}
