.place-wrapper {
  margin-top: 110px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(380px, 400px));
  grid-gap: 12px 18px;
  min-height: 1300px;
}
.place-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  &-img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-shrink: 0;
    padding-top: 10px;
    background-color: var(--white);
  }
  &-decs {
    line-height: 1;
  }
  &-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 6px !important;
  }
  &-distance {
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 6px;
    color: #888;
  }
  &-datetime {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #888;
  }
  &-price {
    font-size: 1.4rem;
    span {
      font-weight: 550;
    }
  }
  &-rating {
    text-align: center;
    font-size: 1.4rem;
    line-height: 12px;
    ion-icon {
      font-size: 1.2rem;
    }
  }
}
@media only screen and (min-width: 1128px) and (max-width: 1438px) {
  .place-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    // grid-template-rows: repeat(auto-fit, minmax(220px, 240px));
  }
}
@media only screen and (min-width: 949px) and (max-width: 1127px) {
  .place-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr)) !important;
    // grid-template-rows: repeat(auto-fit, minmax(400px, 1fr)) !important;
    min-height: 1700px !important;
  }
  .container {
    padding: 0 var(--gap-40) !important;
  }
}

@media only screen and (min-width: 628px) and (max-width: 948px) {
  .place-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)) !important;
    grid-template-rows: repeat(auto-fit, minmax(300px, 360px)) !important;
    min-height: 1700px !important;
  }
  .container {
    padding: 0 var(--gap-40) !important;
  }
}
@media only screen and (max-width: 627px) {
  .place-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)) !important;
    grid-template-rows: repeat(auto-fit, minmax(260px, 1fr)) !important;
  }
  .container {
    padding: 0 var(--gap-20) !important;
  }
}
.place-item:hover .slick-arrow {
  display: block !important;
}
.place-item:hover > .slick-disabled {
  display: none !important;
}
.place-item:hover .slick-disabled {
  display: none !important;
}
