.search-input {
  padding: 4px 0;
  outline: none;
  border: none;
  width: 100%;
}
.search-poper {
  position: absolute;
  top: 20px;
  left: 0;

  background-color: var(--white);
  width: 400px;
  height: 400px;
  border-radius: 12px;
  padding: 10px;
}
.search-result-list {
  list-style: none;
}
.search-result-item {
  padding: 8px 0;
  font-size: 1.6rem;
}
