.footer-switch-btn {
  cursor: pointer;
  position: fixed;
  margin-bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  padding: 14px 18px;
  background-color: var(--black);
  border-radius: 24px;
  border: none;
  outline: none;
  box-shadow: var(--black) 000 0px 0px 0px 1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  line-height: 18px;
  z-index: 30;
  span {
    color: var(--white);
    font-size: 1.3rem;
    ion-icon {
      transform: translateY(14%);
    }
  }
}
.subWrapper {
  overflow: hidden;
}
